@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Slackey', cursive;
}

.container {
	background-color: beige;
	max-width: 800px;
	height: 100vh;
	margin: 0 auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-around;
	justify-content: center;
}

.title {
	margin-bottom: auto;
}

/* Result */
.result-announce {
	font-size: 30px;
	margin-top: 30px;
}

.green {
	color: limegreen;
}

.red {
	color: red;
}

/* Replay Button */
.replay-btn {
	font-size: 30px;
	border: none;
	background-color: rgb(179, 65, 179);
	border-radius: 5px;
	padding: 20px 50px;
	color: white;
	cursor: pointer;
}

.replay-btn:active,
.restart-btn:active {
	transform: scale(0.95);
}

.restart-btn {
	margin-top: 30px;
	font-size: 15px;
	border: none;
	background-color: rgb(252, 180, 0);
	border-radius: 5px;
	padding: 10px 25px;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

/* Showcase */

.showcase {
	height: 350px;
	width: 600px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.choices {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.names {
	font-size: 30px;
}

.names span {
	font-size: 40px;
}
.weapon-choice {
	height: 230px;
	width: 230px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.weapon-choice i {
	font-size: 130px;
}

/* Choice Screen */

.choice-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin-bottom: auto;
}

.weapons {
	display: flex;
}

.weapon {
	height: 150px;
	width: 150px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.weapon:hover {
	background-color: greenyellow;
}

.weapon:nth-child(2) {
	margin: 0 20px;
}

.weapon i {
	font-size: 100px;
	pointer-events: none;
}

.hide {
	display: none;
}
